html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main,
summary {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn,
i,
em {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

img {
    max-width: 100%;
    height: auto;
    display: block
}

a {
    text-decoration: none
}

@font-face {
    font-family: 'fontello';
    src: url("../font/fontello.eot?64103717");
    src: url("../font/fontello.eot?64103717#iefix") format("embedded-opentype"), url("../font/fontello.woff2?64103717") format("woff2"), url("../font/fontello.woff?64103717") format("woff"), url("../font/fontello.ttf?64103717") format("truetype"), url("../font/fontello.svg?64103717#fontello") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-twitter:before {
    content: '\e800'
}

.icon-facebook:before {
    content: '\f09a'
}

.icon-gplus:before {
    content: '\f0d5'
}

.icon-instagram:before {
    content: '\f16d'
}

.icon-dribbble:before {
    content: '\f17d'
}

.icon-behance:before {
    content: '\f1b4'
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background: #F3F7FA
}

.minimal-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background: #F3F7FA
}

.profile {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.profile .aboutme {
    vertical-align: middle;
    width: 100%
}

@media (max-width: 767px) {
    .profile .aboutme {
        text-align: center
    }
}

.profile .aboutme p {
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 15px
}

.profile .aboutme p:before {
    width: 50%;
    right: 0;
    position: absolute;
    content: '';
    height: 5px;
    background: #CCC;
    border-radius: 100px;
    top: 12px
}

@media (max-width: 767px) {
    .profile .aboutme p:before {
        background: none
    }
}

@media (max-width: 575px) {
    .profile .aboutme p {
        margin-top: 0
    }
}

.profile .aboutme h1 {
    font-size: 80px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 1.3;
    position: relative
}

@media (max-width: 767px) {
    .profile .aboutme h1 {
        font-size: 48px
    }
}

.profile .aboutme h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-align: right;
    position: relative
}

.profile .aboutme h3:before {
    width: 40%;
    left: 0;
    position: absolute;
    content: '';
    height: 5px;
    background: #CCC;
    border-radius: 100px;
    top: 10px
}

@media (max-width: 767px) {
    .profile .aboutme h3:before {
        background: none
    }
}

.btn-group {
    position: relative;
    margin-top: 45px;
    font-size: 16px;
    text-transform: uppercase
}

@media (max-width: 767px) {
    .btn-group {
        font-size: 14px;
        margin-top: 30px
    }
}

.btn-group a {
    padding: 16px 34px;
    border-radius: 100px;
    color: #FFF;
    font-weight: 700;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    position: relative;
    -webkit-box-shadow: 0 15px 24px rgba(0, 0, 0, 0.12), 0 19px 76px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.12), 0 19px 76px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    margin: 0 auto;
    display: table
}

@media (max-width: 767px) {
    .btn-group a {
        margin-bottom: 15px;
        padding: 14px 18px;
        margin-left: auto;
        margin-right: auto
    }
}

@media (max-width: 575px) {
    .btn-group a {
        margin: 0 auto;
        display: inline-block
    }
}

.btn-group a:hover {
    -webkit-box-shadow: 0 15px 24px rgba(0, 0, 0, 0.1), 0 19px 76px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.1), 0 19px 76px rgba(0, 0, 0, 0.1)
}

.social-media {
    position: relative;
    margin-top: 120px;
    display: table;
    width: 100%;
    text-align: center
}

.social-media li {
    display: inline-block;
    font-size: 20px;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out
}

.social-media li:hover {
    -webkit-transform: translateY(-5px) scale(1.1);
    -ms-transform: translateY(-5px) scale(1.1);
    transform: translateY(-5px) scale(1.1)
}

.social-media li a {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out
}

.social-media li a:hover .twitter {
    color: #1da1f2
}

.social-media li a:hover .dribbble {
    color: #ea4c89
}

.social-media li a:hover .insta {
    color: #fd1d1d
}

.social-media li a:hover .behance {
    color: #1769ff
}

.social-media li a:hover .fb {
    color: #3b5998
}

.social-media li a:hover .gplus {
    color: #dd4b39
}

.button-color-1 {
    background: #000dff;
    background: -webkit-linear-gradient(-45deg, #000dff 0%, #00d6ff 100%);
    background: -webkit-linear-gradient(315deg, #000dff 0%, #00d6ff 100%);
    background: linear-gradient(135deg, #000dff 0%, #00d6ff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000dff', endColorstr='#00d6ff', GradientType=1)
}

.button-color-2 {
    background: #ee0979;
    background: -webkit-linear-gradient(to left, #ee0979, #ff6a00);
    background: -webkit-gradient(linear, right top, left top, from(#ee0979), to(#ff6a00));
    background: -webkit-linear-gradient(right, #ee0979, #ff6a00);
    background: linear-gradient(to left, #ee0979, #ff6a00)
}

.button-color-3 {
    background: #3023AE;
    background: -webkit-linear-gradient(-45deg, #3023AE 0%, #C96DD8 100%);
    background: -webkit-linear-gradient(315deg, #3023AE 0%, #C96DD8 100%);
    background: linear-gradient(135deg, #3023AE 0%, #C96DD8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3023AE', endColorstr='#C96DD8', GradientType=1)
}

.button-color-4 {
    background: #FFF;
    color: #000 !important
}
